openapi: 3.0.1
info:
  title: Good Sign API
  contact: {}
  version: 1.0.0
servers:
- url: https://api.goodsign.cloud/
tags:
- name: Welcome
- name: Organization
- name: Organization Billing Information
- name: Users
- name: Countries
- name: Products
- name: Objects
- name: Contract Model
- name: Charges
- name: Pricing
- name: Invoicing
- name: DataSync
paths:
  /api/interface/gsapi/charges/actions:
    get:
      tags:
      - Charges
      summary: List Charges
      description: List Charges
      operationId: listCharges
      parameters:
      - name: org_id
        in: query
        schema:
          type: string
      - name: starttime
        in: query
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                example:
                - TYPE_ID: 7
                  activation_id: 52
                  author: BatchRunner
                  billingobject_id: 3
                  calltype_id: 4000
                  ext_descr: Monthly Fee
                  ext_id: "-2"
                  is_history: false
                  materializedpath: "000000"
                  operator_sub_id: 2236
                  org_descr: Root
                  org_id: 0
                  pcs: 1
                  phonenumber: -20
                  pna_org_id: 0
                  pna_type_id: 7
                  pna_username: Testing Admin
                  starttime: 2024-07-08T11:02:27.937
                  status_id: 3
                  updated: 2024-07-08T11:02:27.970
                items:
                  type: object
                  properties:
                    TYPE_ID:
                      type: number
                      example: 7.0
                    activation_id:
                      type: number
                      example: 52.0
                    author:
                      type: string
                      example: BatchRunner
                    billingobject_id:
                      type: number
                      example: 3.0
                    calltype_id:
                      type: number
                      example: 4000.0
                    ext_descr:
                      type: string
                      example: Monthly Fee
                    ext_id:
                      type: string
                      example: "-2"
                    is_history:
                      type: boolean
                      example: false
                    materializedpath:
                      type: string
                      example: "000000"
                    operator_sub_id:
                      type: number
                      example: 2236.0
                    org_descr:
                      type: string
                      example: Root
                    org_id:
                      type: number
                      example: 0.0
                    pcs:
                      type: number
                      example: 1.0
                    phonenumber:
                      type: number
                      example: -20.0
                    pna_org_id:
                      type: number
                      example: 0.0
                    pna_type_id:
                      type: number
                      example: 7.0
                    pna_username:
                      type: string
                      example: Testing Admin
                    starttime:
                      type: string
                      example: 2024-07-08T11:02:27.937
                    status_id:
                      type: number
                      example: 3.0
                    updated:
                      type: string
                      example: 2024-07-08T11:02:27.970
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                example:
                - info: Authorization has been denied for this request.
                items:
                  type: object
                  properties:
                    info:
                      type: string
                      example: Authorization has been denied for this request.
        "422":
          description: Unprocessable Content
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unidentified organizational object (UOO). org_id is mandatory
                      information
                  ret:
                    type: number
                    example: -1.0
    post:
      tags:
      - Charges
      summary: Add a Charge
      description: Add a Charge
      operationId: addACharge
      parameters:
      - name: organization
        in: query
        schema:
          type: string
      - name: org_id
        in: query
        schema:
          type: string
      - name: external_customer_id
        in: query
        schema:
          type: string
      - name: objectId
        in: query
        schema:
          type: string
      - name: objectKey
        in: query
        schema:
          type: string
      - name: product
        in: query
        schema:
          type: string
      - name: amount
        in: query
        schema:
          type: string
      - name: charge
        in: query
        schema:
          type: string
      - name: starttime
        in: query
        schema:
          type: string
      - name: endtime
        in: query
        schema:
          type: string
      - name: invoice_descr
        in: query
        schema:
          type: string
      - name: cr_account
        in: query
        schema:
          type: string
      - name: db_account
        in: query
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Amount:
                  type: number
                  example: 2.5
                Charge:
                  type: number
                  example: 4.0
                EndTime:
                  type: string
                  example: 2023-12-31 23:59:59
                Invoice_descr:
                  type: string
                  example: Charging test
                ObjectID:
                  type: string
                  example: "-61"
                Organization:
                  type: string
                  example: Test Organization
                Product:
                  type: string
                  example: "1760"
                StartTime:
                  type: string
                  example: 2023-09-01 00:00:00
                UserID:
                  type: object
                  nullable: true
                  example: "null"
                cr_account:
                  type: string
                  example: Account1234
                external_customer_id:
                  type: string
                  example: ""
                objectKey:
                  type: string
                  example: ""
                org_id:
                  type: number
                  example: 101.0
        required: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                example:
                - TYPE_ID: 100
                  activation_id: 91
                  amount: 2.5
                  author: API_Int
                  billingobject_id: 5
                  calltype_descr: CAT10
                  calltype_id: 10
                  charge: 4
                  endtime: 2023-12-31T23:59:59
                  ext_descr: Monthly Fee
                  ext_id: "-2"
                  iccid: BCD-234
                  imsi: 899b3729322d652d250ed1c98bc963c1
                  invoice_descr: Charging test
                  is_history: false
                  materializedpath: "000000001203"
                  operator_sub_descr: isompimeisseli
                  operator_sub_id: 3034
                  org_descr: Object Input
                  org_id: 1203
                  pcs: 1
                  phonenumber: -61
                  pna_org_id: 1203
                  pna_type_id: 100
                  pna_username: ' Object Input'
                  starttime: 2023-09-01T00:00:00
                  status_id: 3
                  updated: 2024-10-10T14:02:32.373
                items:
                  type: object
                  properties:
                    TYPE_ID:
                      type: number
                      example: 100.0
                    activation_id:
                      type: number
                      example: 91.0
                    amount:
                      type: number
                      example: 2.5
                    author:
                      type: string
                      example: API_Int
                    billingobject_id:
                      type: number
                      example: 5.0
                    calltype_descr:
                      type: string
                      example: CAT10
                    calltype_id:
                      type: number
                      example: 10.0
                    charge:
                      type: number
                      example: 4.0
                    endtime:
                      type: string
                      example: 2023-12-31T23:59:59
                    ext_descr:
                      type: string
                      example: Monthly Fee
                    ext_id:
                      type: string
                      example: "-2"
                    iccid:
                      type: string
                      example: BCD-234
                    imsi:
                      type: string
                      example: 899b3729322d652d250ed1c98bc963c1
                    invoice_descr:
                      type: string
                      example: Charging test
                    is_history:
                      type: boolean
                      example: false
                    materializedpath:
                      type: string
                      example: "000000001203"
                    operator_sub_descr:
                      type: string
                      example: isompimeisseli
                    operator_sub_id:
                      type: number
                      example: 3034.0
                    org_descr:
                      type: string
                      example: Object Input
                    org_id:
                      type: number
                      example: 1203.0
                    pcs:
                      type: number
                      example: 1.0
                    phonenumber:
                      type: number
                      example: -61.0
                    pna_org_id:
                      type: number
                      example: 1203.0
                    pna_type_id:
                      type: number
                      example: 100.0
                    pna_username:
                      type: string
                      example: ' Object Input'
                    starttime:
                      type: string
                      example: 2023-09-01T00:00:00
                    status_id:
                      type: number
                      example: 3.0
                    updated:
                      type: string
                      example: 2024-10-10T14:02:32.373
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                example:
                - info: Authorization has been denied for this request.
                items:
                  type: object
                  properties:
                    info:
                      type: string
                      example: Authorization has been denied for this request.
        "422":
          description: Unprocessable Content
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Billingobject already exists
                  ret:
                    type: number
                    example: -10.0
  /api/interface/gsapi/contract/actions:
    put:
      tags:
      - Contract Model
      summary: Update Contract
      description: Update Contract
      operationId: updateContract
      parameters:
      - name: ContractID
        in: query
        schema:
          type: string
      - name: org_id
        in: query
        schema:
          type: string
      - name: ContractStatus
        in: query
        schema:
          type: string
      - name: ContractValidFrom
        in: query
        schema:
          type: string
      - name: TerminationPeriod
        in: query
        schema:
          type: string
      - name: ContractSubject
        in: query
        schema:
          type: string
      - name: ContractDescription
        in: query
        schema:
          type: string
      - name: Comment
        in: query
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  example: Just for demo purposes again
                ContractDescription:
                  type: string
                  example: Test Contract Update
                ContractID:
                  type: string
                  example: Tset Contract
                ContractStatus:
                  type: string
                  example: Terminated
                ContractSubject:
                  type: string
                  example: Just a another subject
                ContractValidFrom:
                  type: string
                  example: 2020-11-01T00:00:00
                TerminationPeriod:
                  type: string
                  example: "12"
                org_id:
                  type: number
                  example: 101.0
        required: false
      responses:
        "200":
          description: OK
          content: {}
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                example:
                - info: Authorization has been denied for this request.
                items:
                  type: object
                  properties:
                    info:
                      type: string
                      example: Authorization has been denied for this request.
    post:
      tags:
      - Contract Model
      summary: Create Contract
      description: Create Contract
      operationId: createContract
      parameters:
      - name: ContractID
        in: query
        schema:
          type: string
      - name: org_id
        in: query
        schema:
          type: string
      - name: ContractStatus
        in: query
        schema:
          type: string
      - name: ContractValidFrom
        in: query
        schema:
          type: string
      - name: TerminationPeriod
        in: query
        schema:
          type: string
      - name: ContractSubject
        in: query
        schema:
          type: string
      - name: ContractDescription
        in: query
        schema:
          type: string
      - name: Comment
        in: query
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  example: Just for demo purposes again
                ContractDescription:
                  type: string
                  example: New Test Contract
                ContractID:
                  type: string
                  example: Test Contract
                ContractStatus:
                  type: string
                  example: Active
                ContractSubject:
                  type: string
                  example: subject
                ContractValidFrom:
                  type: string
                  example: 2020-10-01T00:00:00
                TerminationPeriod:
                  type: string
                  example: "12"
                org_id:
                  type: number
                  example: 101.0
        required: false
      responses:
        "200":
          description: OK
          content: {}
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                example:
                - info: Authorization has been denied for this request.
                items:
                  type: object
                  properties:
                    info:
                      type: string
                      example: Authorization has been denied for this request.
    delete:
      tags:
      - Contract Model
      summary: Delete Contract
      description: Delete Contract
      operationId: deleteContract
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                example:
                - rettext: Contract Tset Contract deleted.
                items:
                  type: object
                  properties:
                    rettext:
                      type: string
                      example: Contract Tset Contract deleted.
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                example:
                - info: Authorization has been denied for this request.
                items:
                  type: object
                  properties:
                    info:
                      type: string
                      example: Authorization has been denied for this request.
  /api/interface/gsapi/contractevent/actions:
    post:
      tags:
      - Contract Model
      summary: Send Contract Line Events
      description: Send Contract Line Events
      operationId: sendContractLineEvents
      parameters:
      - name: ContractLineID
        in: query
        schema:
          type: string
      - name: TimeStamp
        in: query
        schema:
          type: string
      - name: TransActionID
        in: query
        schema:
          type: string
      - name: Service
        in: query
        schema:
          type: string
      - name: Quantity
        in: query
        schema:
          type: string
      - name: MappingValue
        in: query
        schema:
          type: string
      - name: Dimension1
        in: query
        schema:
          type: string
      - name: Dimension2
        in: query
        schema:
          type: string
      - name: Dimension3
        in: query
        schema:
          type: string
      - name: Dimension4
        in: query
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ContractLineID:
                  type: string
                  example: B000000012
                Dimension1:
                  type: string
                  example: GroupOne
                Dimension2:
                  type: string
                  example: ""
                Dimension3:
                  type: string
                  example: ""
                Dimension4:
                  type: string
                  example: ""
                MappingValue:
                  type: string
                  example: TextBook4
                Quantity:
                  type: string
                  example: "1.5"
                Service:
                  type: string
                  example: PRODUCT175
                TimeStamp:
                  type: string
                  example: 2020-10-01 22:00:00
                TransActionID:
                  type: string
                  example: "12243"
        required: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                example:
                - rettext: Added.
                items:
                  type: object
                  properties:
                    rettext:
                      type: string
                      example: Added.
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                example:
                - info: Authorization has been denied for this request.
                items:
                  type: object
                  properties:
                    info:
                      type: string
                      example: Authorization has been denied for this request.
        "422":
          description: Unprocessable Content
          content:
            application/json:
              schema:
                type: array
                example:
                - rettext: TransactionID already used.Ignored
                items:
                  type: object
                  properties:
                    rettext:
                      type: string
                      example: TransactionID already used.Ignored
  /api/interface/gsapi/contractline/actions:
    put:
      tags:
      - Contract Model
      summary: Update Contract Line
      description: Update Contract Line
      operationId: updateContractLine
      parameters:
      - name: Company
        in: query
        schema:
          type: string
      - name: ContractLineID
        in: query
        schema:
          type: string
      - name: objectkey
        in: query
        schema:
          type: string
      - name: ContractID
        in: query
        schema:
          type: string
      - name: org_id
        in: query
        schema:
          type: string
      - name: ContractDescription
        in: query
        schema:
          type: string
      - name: ContractLineDescription
        in: query
        schema:
          type: string
      - name: ContractLineValidFrom
        in: query
        schema:
          type: string
      - name: ContractLineValidTo
        in: query
        schema:
          type: string
      - name: Service
        in: query
        schema:
          type: string
      - name: Quantity
        in: query
        schema:
          type: string
      - name: ChargeModel
        in: query
        schema:
          type: string
      - name: Chargetype
        in: query
        schema:
          type: string
      - name: Aggregation
        in: query
        schema:
          type: string
      - name: PricingModel
        in: query
        schema:
          type: string
      - name: MappingValues
        in: query
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Aggregation:
                  type: string
                  example: "No"
                ChargeModel:
                  type: string
                  example: Usage
                Chargetype:
                  type: string
                  example: Recurring
                Company:
                  type: string
                  example: Test organization
                ContractDescription:
                  type: string
                  example: Testing
                ContractID:
                  type: string
                  example: Testi Contract
                ContractLineDescription:
                  type: string
                  example: Defines the charge for the server updated
                ContractLineID:
                  type: string
                  example: B000000016
                ContractLineValidFrom:
                  type: string
                  example: 2020-11-01 00:00:00
                ContractLineValidTo:
                  type: string
                  example: 2999-12-31 23:59:59
                MappingValues:
                  type: string
                  example: ""
                PricingModel:
                  type: string
                  example: Unit
                Quantity:
                  type: string
                  example: "120"
                Service:
                  type: string
                  example: PRODUCT175
                objectkey:
                  type: string
                  example: B000000016
                org_id:
                  type: number
                  example: 101.0
        required: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                example:
                - Aggregation: "No"
                  ChargeModel: Usage
                  ContractDescription: New Test Contract
                  ContractID: Test Contract
                  ContractLIneValidFrom: 2020-11-01 00:00:00
                  ContractLIneValidTo: 2999-12-31 23:59:59
                  ContractLineID: B000000016
                  ContractLineProfile: Recurring base fee
                  ContractLineProfileID: 75
                  MappingValues: ""
                  PricingModel: Unit
                  ProductCode: PRODUCT175
                  Quantity: "120"
                  objectkey: B000000016
                  org_id: 101
                  organization: Test organization
                items:
                  type: object
                  properties:
                    Aggregation:
                      type: string
                      example: "No"
                    ChargeModel:
                      type: string
                      example: Usage
                    ContractDescription:
                      type: string
                      example: New Test Contract
                    ContractID:
                      type: string
                      example: Test Contract
                    ContractLIneValidFrom:
                      type: string
                      example: 2020-11-01 00:00:00
                    ContractLIneValidTo:
                      type: string
                      example: 2999-12-31 23:59:59
                    ContractLineID:
                      type: string
                      example: B000000016
                    ContractLineProfile:
                      type: string
                      example: Recurring base fee
                    ContractLineProfileID:
                      type: number
                      example: 75.0
                    MappingValues:
                      type: string
                      example: ""
                    PricingModel:
                      type: string
                      example: Unit
                    ProductCode:
                      type: string
                      example: PRODUCT175
                    Quantity:
                      type: string
                      example: "120"
                    objectkey:
                      type: string
                      example: B000000016
                    org_id:
                      type: number
                      example: 101.0
                    organization:
                      type: string
                      example: Test organization
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                example:
                - info: Authorization has been denied for this request.
                items:
                  type: object
                  properties:
                    info:
                      type: string
                      example: Authorization has been denied for this request.
        "422":
          description: Unprocessable Content
          content:
            application/json:
              schema:
                type: array
                example:
                - rettext: Unknown ContractID
                items:
                  type: object
                  properties:
                    rettext:
                      type: string
                      example: Unknown ContractID
    post:
      tags:
      - Contract Model
      summary: Create Contract Line
      description: Create Contract Line
      operationId: createContractLine
      parameters:
      - name: ContractID
        in: query
        schema:
          type: string
      - name: ContractLineProfileID
        in: query
        schema:
          type: string
      - name: contractLineProfile
        in: query
        schema:
          type: string
      - name: org_id
        in: query
        schema:
          type: string
      - name: ContractLineDescription
        in: query
        schema:
          type: string
      - name: ContractLineValidFrom
        in: query
        schema:
          type: string
      - name: Service
        in: query
        schema:
          type: string
      - name: Quantity
        in: query
        schema:
          type: string
      - name: ChargeModel
        in: query
        schema:
          type: string
      - name: Chargetype
        in: query
        schema:
          type: string
      - name: Aggregation
        in: query
        schema:
          type: string
      - name: PricingModel
        in: query
        schema:
          type: string
      - name: MappingValues
        in: query
        schema:
          type: string
      requestBody:
        content:
          text/plain:
            schema:
              type: string
              format: binary
        required: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                example:
                - Aggregation: "No"
                  ChargeModel: Predefined
                  ContractDescription: New Contract
                  ContractID: General Contract
                  ContractLIneValidFrom: 1900-01-01 00:00:00
                  ContractLIneValidTo: 2999-12-31 23:59:59
                  ContractLineID: B000000012
                  ContractLineProfile: Recurring base fee
                  ContractLineProfileID: 75
                  MappingValues: ""
                  PricingModel: Unit
                  ProductCode: PRODUCT1
                  Quantity: "0"
                  objectkey: B000000012
                  org_id: 1215
                  organization: Demo Company
                items:
                  type: object
                  properties:
                    Aggregation:
                      type: string
                      example: "No"
                    ChargeModel:
                      type: string
                      example: Predefined
                    ContractDescription:
                      type: string
                      example: New Contract
                    ContractID:
                      type: string
                      example: General Contract
                    ContractLIneValidFrom:
                      type: string
                      example: 1900-01-01 00:00:00
                    ContractLIneValidTo:
                      type: string
                      example: 2999-12-31 23:59:59
                    ContractLineID:
                      type: string
                      example: B000000012
                    ContractLineProfile:
                      type: string
                      example: Recurring base fee
                    ContractLineProfileID:
                      type: number
                      example: 75.0
                    MappingValues:
                      type: string
                      example: ""
                    PricingModel:
                      type: string
                      example: Unit
                    ProductCode:
                      type: string
                      example: PRODUCT1
                    Quantity:
                      type: string
                      example: "0"
                    objectkey:
                      type: string
                      example: B000000012
                    org_id:
                      type: number
                      example: 1215.0
                    organization:
                      type: string
                      example: Demo Company
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                example:
                - info: Authorization has been denied for this request.
                items:
                  type: object
                  properties:
                    info:
                      type: string
                      example: Authorization has been denied for this request.
        "422":
          description: Unprocessable Content
          content:
            application/json:
              schema:
                type: array
                example:
                - rettext: Unknown ContractID
                items:
                  type: object
                  properties:
                    rettext:
                      type: string
                      example: Unknown ContractID
      x-codegen-request-body-name: body
  /api/interface/gsapi/contractlines/list:
    get:
      tags:
      - Contract Model
      summary: List Contract Lines
      description: List Contract Lines
      operationId: listContractLines
      parameters:
      - name: org_id
        in: query
        schema:
          type: string
      - name: Organization
        in: query
        schema:
          type: string
      - name: ContractID
        in: query
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                example:
                - ContractDescription: New Contract
                  ContractID: General Contract
                  ContractLIneValidFrom: 2020-10-01T00:00:00
                  ContractLIneValidTo: 2024-12-19T00:00:00
                  ContractLineID: B000000011
                  ContractLineProfile: Recurring base fee
                  ContractLineProfileID: 75
                  InternalNotes: Lovely flowers
                  InvoiceTextLine: Seasonal Flowers
                  PricingModel: Unit
                  ProductCode: ""
                  Quantity: "14"
                  objectkey: B000000011
                  org_id: 1215
                  organization: Demo Company/Flower Unit
                items:
                  type: object
                  properties:
                    ContractDescription:
                      type: string
                      example: New Contract
                    ContractID:
                      type: string
                      example: General Contract
                    ContractLIneValidFrom:
                      type: string
                      example: 2020-10-01T00:00:00
                    ContractLIneValidTo:
                      type: string
                      example: 2024-12-19T00:00:00
                    ContractLineID:
                      type: string
                      example: B000000011
                    ContractLineProfile:
                      type: string
                      example: Recurring base fee
                    ContractLineProfileID:
                      type: number
                      example: 75.0
                    InternalNotes:
                      type: string
                      example: Lovely flowers
                    InvoiceTextLine:
                      type: string
                      example: Seasonal Flowers
                    PricingModel:
                      type: string
                      example: Unit
                    ProductCode:
                      type: string
                      example: ""
                    Quantity:
                      type: string
                      example: "14"
                    objectkey:
                      type: string
                      example: B000000011
                    org_id:
                      type: number
                      example: 1215.0
                    organization:
                      type: string
                      example: Demo Company/Flower Unit
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                example:
                - info: Authorization has been denied for this request.
                items:
                  type: object
                  properties:
                    info:
                      type: string
                      example: Authorization has been denied for this request.
  /api/interface/gsapi/contracts/list:
    get:
      tags:
      - Contract Model
      summary: List Contracts
      description: List Contracts
      operationId: listContracts
      parameters:
      - name: org_id
        in: query
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                example:
                - Comment: ""
                  ContractDescription: ""
                  ContractID: C000000001
                  ContractLines:
                  - ContractLineID: B000000001
                    objectkey: B000000001
                  - ContractLineID: B000000002
                    objectkey: B000000002
                  - ContractLineID: B000000003
                    objectkey: B000000003
                  - ContractLineID: B000000004
                    objectkey: B000000004
                  - ContractLineID: B000000005
                    objectkey: B000000005
                  - ContractLineID: B000000006
                    objectkey: B000000006
                  - ContractLineID: B000000007
                    objectkey: B000000007
                  - ContractLineID: B000000008
                    objectkey: B000000008
                  - ContractLineID: B000000009
                    objectkey: B000000009
                  - ContractLineID: B000000010
                    objectkey: B000000010
                  - ContractLineID: OT000000001
                    objectkey: OT000000001
                  ContractStatus: Active
                  ContractSubject: ""
                  ContractValidFrom: 2024-07-09T00:00:00
                  ContractValidTo: 2029-07-09T00:00:00
                  InvoicingMonths: ""
                  Organization: Demo Company/Test Company
                  TerminationPeriod: ""
                  objectkey: C000000001
                  org_id: 1204
                items:
                  type: object
                  properties:
                    Comment:
                      type: string
                      example: ""
                    ContractDescription:
                      type: string
                      example: ""
                    ContractID:
                      type: string
                      example: C000000001
                    ContractLines:
                      type: array
                      example:
                      - ContractLineID: B000000001
                        objectkey: B000000001
                      - ContractLineID: B000000002
                        objectkey: B000000002
                      - ContractLineID: B000000003
                        objectkey: B000000003
                      - ContractLineID: B000000004
                        objectkey: B000000004
                      - ContractLineID: B000000005
                        objectkey: B000000005
                      - ContractLineID: B000000006
                        objectkey: B000000006
                      - ContractLineID: B000000007
                        objectkey: B000000007
                      - ContractLineID: B000000008
                        objectkey: B000000008
                      - ContractLineID: B000000009
                        objectkey: B000000009
                      - ContractLineID: B000000010
                        objectkey: B000000010
                      - ContractLineID: OT000000001
                        objectkey: OT000000001
                      items:
                        type: object
                        properties:
                          ContractLineID:
                            type: string
                            example: B000000001
                          objectkey:
                            type: string
                            example: B000000001
                    ContractStatus:
                      type: string
                      example: Active
                    ContractSubject:
                      type: string
                      example: ""
                    ContractValidFrom:
                      type: string
                      example: 2024-07-09T00:00:00
                    ContractValidTo:
                      type: string
                      example: 2029-07-09T00:00:00
                    InvoicingMonths:
                      type: string
                      example: ""
                    Organization:
                      type: string
                      example: Demo Company/Test Company
                    TerminationPeriod:
                      type: string
                      example: ""
                    objectkey:
                      type: string
                      example: C000000001
                    org_id:
                      type: number
                      example: 1204.0
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                example:
                - info: Authorization has been denied for this request.
                items:
                  type: object
                  properties:
                    info:
                      type: string
                      example: Authorization has been denied for this request.
  /api/interface/gsapi/countrycodes/list:
    get:
      tags:
      - Countries
      summary: List Countrycodes
      description: List Countrycodes
      operationId: listCountrycodes
      parameters:
      - name: billing_country_id
        in: query
        schema:
          type: string
      - name: alpha2code
        in: query
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                example:
                - alpha2code: FI
                  b_base_country_id: 358
                  billing_country_id: FIN
                  default_option: 0
                  descr_eng: Finland
                  descr_fin: Suomi
                items:
                  type: object
                  properties:
                    alpha2code:
                      type: string
                      example: FI
                    b_base_country_id:
                      type: number
                      example: 358.0
                    billing_country_id:
                      type: string
                      example: FIN
                    default_option:
                      type: number
                      example: 0.0
                    descr_eng:
                      type: string
                      example: Finland
                    descr_fin:
                      type: string
                      example: Suomi
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                example:
                - info: Authorization has been denied for this request.
                items:
                  type: object
                  properties:
                    info:
                      type: string
                      example: Authorization has been denied for this request.
  /api/interface/gsapi/datasync:
    get:
      tags:
      - DataSync
      summary: New Request
      description: New Request
      operationId: newRequest
      parameters:
      - name: org_id
        in: query
        schema:
          type: string
      - name: option
        in: query
        schema:
          type: string
      - name: invoice_id
        in: query
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                example:
                - addr_city: ""
                  addr_street1: ""
                  addr_zipcode: ""
                  author: API_Int
                  billingobject_owner: 105
                  bnum: ""
                  bnum_prefix: ""
                  business_id: ""
                  calltype_id: 10
                  contact_person: ""
                  currency_id: 1
                  custtype: B
                  deleted: 0
                  descr: ""
                  ext_id: ext id
                  fixedprice: 15
                  full_descr: Test organization
                  has_charge: 0
                  materializedpath: "000000000101"
                  max_amount: 1000
                  mcc: 999
                  min_amount: 10
                  operator_sub_id: 3038
                  org_id: 101
                  parent_org_id: 0
                  phonenumber: 539609454
                  price: 23
                  pricevalidfrom: 2022-10-01T00:00:00+03:00
                  pricevalidto: 2998-12-31T23:59:59.997+02:00
                  pricing_id: 47
                  pricing_type_id: 1
                  pricingunit_id: 2
                  protected: 0
                  sc_site_code: ""
                  startprice: 10
                  time_id: 0
                  top_org_id: 101
                  trunk: ""
                  updated: 2024-10-16T12:59:16.773+03:00
                  vat: 75
                items:
                  type: object
                  properties:
                    TimeZone:
                      type: object
                      nullable: true
                      example: "null"
                    addr_building:
                      type: object
                      nullable: true
                      example: "null"
                    addr_city:
                      type: string
                      example: ""
                    addr_state:
                      type: object
                      nullable: true
                      example: "null"
                    addr_street1:
                      type: string
                      example: ""
                    addr_street2:
                      type: object
                      nullable: true
                      example: "null"
                    addr_zipcode:
                      type: string
                      example: ""
                    age:
                      type: object
                      nullable: true
                      example: "null"
                    author:
                      type: string
                      example: API_Int
                    billingobject_owner:
                      type: number
                      example: 105.0
                    bnum:
                      type: string
                      example: ""
                    bnum_prefix:
                      type: string
                      example: ""
                    business_id:
                      type: string
                      example: ""
                    calltype_id:
                      type: number
                      example: 10.0
                    comment:
                      type: object
                      nullable: true
                      example: "null"
                    contact_email_address:
                      type: object
                      nullable: true
                      example: "null"
                    contact_note:
                      type: object
                      nullable: true
                      example: "null"
                    contact_person:
                      type: string
                      example: ""
                    contact_phone_number:
                      type: object
                      nullable: true
                      example: "null"
                    contract_id:
                      type: object
                      nullable: true
                      example: "null"
                    country:
                      type: object
                      nullable: true
                      example: "null"
                    country_id:
                      type: object
                      nullable: true
                      example: "null"
                    currency_id:
                      type: number
                      example: 1.0
                    custtype:
                      type: string
                      example: B
                    deleted:
                      type: number
                      example: 0.0
                    descr:
                      type: string
                      example: ""
                    ext_id:
                      type: string
                      example: ext id
                    external_customer_id:
                      type: object
                      nullable: true
                      example: "null"
                    external_customer_id2:
                      type: object
                      nullable: true
                      example: "null"
                    familystats_amount:
                      type: object
                      nullable: true
                      example: "null"
                    familystats_duration:
                      type: object
                      nullable: true
                      example: "null"
                    familystats_gprsbytes:
                      type: object
                      nullable: true
                      example: "null"
                    familystats_units:
                      type: object
                      nullable: true
                      example: "null"
                    fax_number:
                      type: object
                      nullable: true
                      example: "null"
                    fixedamount:
                      type: object
                      nullable: true
                      example: "null"
                    fixedprice:
                      type: number
                      example: 15.0
                    full_descr:
                      type: string
                      example: Test organization
                    has_charge:
                      type: number
                      example: 0.0
                    linked_organization:
                      type: object
                      nullable: true
                      example: "null"
                    materializedpath:
                      type: string
                      example: "000000000101"
                    max_amount:
                      type: number
                      example: 1000.0
                    mcc:
                      type: number
                      example: 999.0
                    min_amount:
                      type: number
                      example: 10.0
                    network_operator_id:
                      type: object
                      nullable: true
                      example: "null"
                    operator_id:
                      type: object
                      nullable: true
                      example: "null"
                    operator_sub_id:
                      type: number
                      example: 3038.0
                    org_home_url:
                      type: object
                      nullable: true
                      example: "null"
                    org_id:
                      type: number
                      example: 101.0
                    organization_state_id:
                      type: object
                      nullable: true
                      example: "null"
                    organizationgroup_billingobject_owner:
                      type: object
                      nullable: true
                      example: "null"
                    organizationstats_amount:
                      type: object
                      nullable: true
                      example: "null"
                    organizationstats_duration:
                      type: object
                      nullable: true
                      example: "null"
                    organizationstats_gprsbytes:
                      type: object
                      nullable: true
                      example: "null"
                    organizationstats_units:
                      type: object
                      nullable: true
                      example: "null"
                    parent_org_id:
                      type: number
                      example: 0.0
                    phonenumber:
                      type: number
                      example: 539609454
                    phonenumberstats_amount:
                      type: object
                      nullable: true
                      example: "null"
                    phonenumberstats_duration:
                      type: object
                      nullable: true
                      example: "null"
                    phonenumberstats_gprsbytes:
                      type: object
                      nullable: true
                      example: "null"
                    phonenumberstats_units:
                      type: object
                      nullable: true
                      example: "null"
                    price:
                      type: number
                      example: 23.0
                    pricelist_id:
                      type: object
                      nullable: true
                      example: "null"
                    pricevalidfrom:
                      type: string
                      example: 2022-10-01T00:00:00+03:00
                    pricevalidto:
                      type: string
                      example: 2998-12-31T23:59:59.997+02:00
                    pricing_id:
                      type: number
                      example: 47.0
                    pricing_type_id:
                      type: number
                      example: 1.0
                    pricingmodel_id:
                      type: object
                      nullable: true
                      example: "null"
                    pricingunit_id:
                      type: number
                      example: 2.0
                    profile_id:
                      type: object
                      nullable: true
                      example: "null"
                    protected:
                      type: number
                      example: 0.0
                    regionA_id:
                      type: object
                      nullable: true
                      example: "null"
                    regionB_id:
                      type: object
                      nullable: true
                      example: "null"
                    report_email_address:
                      type: object
                      nullable: true
                      example: "null"
                    sc_site_code:
                      type: string
                      example: ""
                    sim_operator_id:
                      type: object
                      nullable: true
                      example: "null"
                    startprice:
                      type: number
                      example: 10.0
                    time_id:
                      type: number
                      example: 0.0
                    top_org_id:
                      type: number
                      example: 101.0
                    trunk:
                      type: string
                      example: ""
                    type_id:
                      type: object
                      nullable: true
                      example: "null"
                    updated:
                      type: string
                      example: 2024-10-16T12:59:16.773+03:00
                    vat:
                      type: number
                      example: 75.0
                    vat_id:
                      type: object
                      nullable: true
                      example: "null"
                    vatpercentage_id:
                      type: object
                      nullable: true
                      example: "null"
                    virtualcalltype_id:
                      type: object
                      nullable: true
                      example: "null"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                example:
                - info: Authorization has been denied for this request.
                items:
                  type: object
                  properties:
                    info:
                      type: string
                      example: Authorization has been denied for this request.
  /api/interface/gsapi/invoice/line_list:
    get:
      tags:
      - Invoicing
      summary: Invoice Line List
      description: Invoice Line List
      operationId: invoiceLineList
      parameters:
      - name: org_id
        in: query
        schema:
          type: string
      - name: iheader_id
        in: query
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                example:
                - activation_id: 91
                  amount: 1
                  calldate_first: 2024-02-04T00:00:00+02:00
                  calldate_last: 2024-02-29T00:00:00+02:00
                  cr_account: "5600"
                  descr: KREDISCORE Standard
                  duration: 0
                  ext_id: "-2"
                  gprsbytes: 0
                  iheader_id: 11
                  invoice_line_id: 33
                  note1: 01.02.2024 - 29.02.2024
                  note2: B000000002#2024-02-29T23:59:59#8
                  org_id: 1209
                  phonenumber: -59
                  price: 12500
                  price_per_unit: 12500
                  pricingunit_id: 2
                  product: "10010"
                  user_id: 116
                  vat: 0
                  vatpercentage: 0
                  vt_id: 65
                - activation_id: 91
                  amount: 1
                  calldate_first: 2024-03-01T00:00:00+02:00
                  calldate_last: 2024-03-31T00:00:00+02:00
                  descr: Finara Standard
                  duration: 0
                  ext_id: "-2"
                  gprsbytes: 0
                  iheader_id: 31
                  invoice_line_id: 67
                  note1: 01.03.2024 - 31.03.2024
                  note2: B000000002#2024-03-31T23:59:59#8
                  org_id: 1209
                  phonenumber: -59
                  price: 12500
                  price_per_unit: 12500
                  pricingunit_id: 2
                  product: "10010"
                  user_id: 116
                  vat: 0
                  vatpercentage: 0
                  vt_id: 95
                - activation_id: 91
                  amount: 1
                  calldate_first: 2024-04-01T00:00:00+03:00
                  calldate_last: 2024-04-30T00:00:00+03:00
                  descr: Finara Standard
                  duration: 0
                  ext_id: "-2"
                  gprsbytes: 0
                  iheader_id: 31
                  invoice_line_id: 68
                  note1: 01.04.2024 - 30.04.2024
                  note2: B000000002#2024-04-30T23:59:59#8
                  org_id: 1209
                  phonenumber: -59
                  price: 12500
                  price_per_unit: 12500
                  pricingunit_id: 2
                  product: "10010"
                  user_id: 116
                  vat: 0
                  vatpercentage: 0
                  vt_id: 96
                - activation_id: 91
                  amount: 1
                  calldate_first: 2024-05-01T00:00:00+03:00
                  calldate_last: 2024-05-31T00:00:00+03:00
                  descr: Finara Standard
                  duration: 0
                  ext_id: "-2"
                  gprsbytes: 0
                  iheader_id: 31
                  invoice_line_id: 69
                  note1: 01.05.2024 - 31.05.2024
                  note2: B000000002#2024-05-31T23:59:59#8
                  org_id: 1209
                  phonenumber: -59
                  price: 12500
                  price_per_unit: 12500
                  pricingunit_id: 2
                  product: "10010"
                  user_id: 116
                  vat: 0
                  vatpercentage: 0
                  vt_id: 97
                - activation_id: 91
                  amount: 1
                  calldate_first: 2024-06-01T00:00:00+03:00
                  calldate_last: 2024-06-30T00:00:00+03:00
                  descr: Finara Standard
                  duration: 0
                  ext_id: "-2"
                  gprsbytes: 0
                  iheader_id: 31
                  invoice_line_id: 70
                  note1: 01.06.2024 - 30.06.2024
                  note2: B000000002#2024-06-30T23:59:59#8
                  org_id: 1209
                  phonenumber: -59
                  price: 12500
                  price_per_unit: 12500
                  pricingunit_id: 2
                  product: "10010"
                  user_id: 116
                  vat: 0
                  vatpercentage: 0
                  vt_id: 98
                - activation_id: 91
                  amount: 1
                  calldate_first: 2024-02-04T00:00:00+02:00
                  calldate_last: 2024-02-29T00:00:00+02:00
                  cr_account: "5600"
                  descr: KREDISCORE Standard
                  duration: 0
                  ext_id: "-2"
                  gprsbytes: 0
                  iheader_id: 32
                  invoice_line_id: 71
                  note2: B000000002#2024-02-29T23:59:59#8
                  org_id: 1209
                  phonenumber: -59
                  price: -12500
                  price_per_unit: -12500
                  pricingunit_id: 2
                  product: "10010"
                  user_id: 116
                  vat: 0
                  vatpercentage: 0
                  vt_id: 65
                - activation_id: 91
                  amount: 1
                  calldate_first: 2024-07-01T00:00:00+03:00
                  calldate_last: 2024-09-30T23:59:59+03:00
                  cr_account: "5600"
                  db_account: "171010"
                  descr: Finara Standard
                  duration: 0
                  ext_id: "-2"
                  gprsbytes: 0
                  iheader_id: 43
                  invoice_line_id: 99
                  note1: 01.07.2024 - 31.07.2024
                  note2: B000000002#2024-07-31T23:59:59#8
                  org_id: 1209
                  phonenumber: -59
                  price: 12500
                  price_per_unit: 12500
                  pricingunit_id: 2
                  product: "10010"
                  user_id: 116
                  vat: 0
                  vatpercentage: 0
                  vt_id: 115
                - activation_id: 91
                  amount: 1
                  calldate_first: 2024-08-01T00:00:00+03:00
                  calldate_last: 2024-09-30T23:59:59+03:00
                  cr_account: "5600"
                  db_account: "171010"
                  descr: Finara Standard
                  duration: 0
                  ext_id: "-2"
                  gprsbytes: 0
                  iheader_id: 43
                  invoice_line_id: 100
                  note1: 01.08.2024 - 31.08.2024
                  note2: B000000002#2024-08-31T23:59:59#8
                  org_id: 1209
                  phonenumber: -59
                  price: 12500
                  price_per_unit: 12500
                  pricingunit_id: 2
                  product: "10010"
                  user_id: 116
                  vat: 0
                  vatpercentage: 0
                  vt_id: 116
                - activation_id: 91
                  amount: 1
                  calldate_first: 2024-09-01T00:00:00+03:00
                  calldate_last: 2024-09-30T23:59:59+03:00
                  cr_account: "5600"
                  db_account: "171010"
                  descr: Finara Standard
                  duration: 0
                  ext_id: "-2"
                  gprsbytes: 0
                  iheader_id: 43
                  invoice_line_id: 101
                  note1: 01.09.2024 - 30.09.2024
                  note2: B000000002#2024-09-30T23:59:59#8
                  org_id: 1209
                  phonenumber: -59
                  price: 12500
                  price_per_unit: 12500
                  pricingunit_id: 2
                  product: "10010"
                  user_id: 116
                  vat: 0
                  vatpercentage: 0
                  vt_id: 117
                items:
                  type: object
                  properties:
                    activation_id:
                      type: number
                      example: 91.0
                    amount:
                      type: number
                      example: 1.0
                    author:
                      type: object
                      nullable: true
                      example: "null"
                    calldate_first:
                      type: string
                      example: 2024-02-04T00:00:00+02:00
                    calldate_last:
                      type: string
                      example: 2024-02-29T00:00:00+02:00
                    contract_id:
                      type: object
                      nullable: true
                      example: "null"
                    cr_account:
                      type: string
                      nullable: true
                      example: "5600"
                    cr_cost_centre:
                      type: object
                      nullable: true
                      example: "null"
                    db_account:
                      type: string
                      nullable: true
                      example: "null"
                    db_cost_centre:
                      type: object
                      nullable: true
                      example: "null"
                    descr:
                      type: string
                      example: KREDISCORE Standard
                    duration:
                      type: number
                      example: 0.0
                    ext_id:
                      type: string
                      example: "-2"
                    gprsbytes:
                      type: number
                      example: 0.0
                    iheader_id:
                      type: number
                      example: 11.0
                    invoice_line_id:
                      type: number
                      example: 33.0
                    note1:
                      type: string
                      nullable: true
                      example: 01.02.2024 - 29.02.2024
                    note2:
                      type: string
                      example: B000000002#2024-02-29T23:59:59#8
                    org_id:
                      type: number
                      example: 1209.0
                    phonenumber:
                      type: number
                      example: -59.0
                    price:
                      type: number
                      example: 12500.0
                    price_per_unit:
                      type: number
                      example: 12500.0
                    pricingunit_id:
                      type: number
                      example: 2.0
                    product:
                      type: string
                      example: "10010"
                    reference:
                      type: object
                      nullable: true
                      example: "null"
                    updated:
                      type: object
                      nullable: true
                      example: "null"
                    user_id:
                      type: number
                      example: 116.0
                    vat:
                      type: number
                      example: 0.0
                    vatpercentage:
                      type: number
                      example: 0.0
                    vt_id:
                      type: number
                      example: 65.0
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                example:
                - info: Authorization has been denied for this request.
                items:
                  type: object
                  properties:
                    info:
                      type: string
                      example: Authorization has been denied for this request.
  /api/interface/gsapi/invoice/list:
    get:
      tags:
      - Invoicing
      summary: Invoice List
      description: Invoice List
      operationId: invoiceList
      parameters:
      - name: org_id
        in: query
        schema:
          type: string
      - name: runendtime
        in: query
        schema:
          type: string
      - name: invoice_id
        in: query
        schema:
          type: string
      - name: iheader_id
        in: query
        schema:
          type: string
      responses:
        "200":
          description: OK
          content: {}
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                example:
                - info: Authorization has been denied for this request.
                items:
                  type: object
                  properties:
                    info:
                      type: string
                      example: Authorization has been denied for this request.
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: array
                example:
                - ret: -2
                  rettext: No invoices with the parameters specified
                items:
                  type: object
                  properties:
                    ret:
                      type: number
                      example: -2.0
                    rettext:
                      type: string
                      example: No invoices with the parameters specified
  /api/interface/gsapi/invoice/payment:
    post:
      tags:
      - Invoicing
      summary: Invoice Payment Add
      description: Invoice Payment Add
      operationId: invoicePaymentAdd
      parameters:
      - name: iheader_id
        in: query
        schema:
          type: string
      - name: ext_invoice_id
        in: query
        schema:
          type: string
      - name: ext_invoice_id2
        in: query
        schema:
          type: string
      - name: bank_reference
        in: query
        schema:
          type: string
      - name: transaction_date
        in: query
        schema:
          type: string
      - name: transaction_type
        in: query
        schema:
          type: string
      - name: payment_reference
        in: query
        schema:
          type: string
      - name: amount
        in: query
        schema:
          type: string
      - name: close_invoice
        in: query
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                  example: 10.0
                bank_reference:
                  type: string
                  example: ""
                close_invoice:
                  type: number
                  example: 0.0
                ext_invoice_id:
                  type: string
                  example: ""
                ext_invoice_id2:
                  type: string
                  example: ""
                iheader_id:
                  type: string
                  example: "99"
                payment_reference:
                  type: string
                  example: "0000007"
                transaction_date:
                  type: string
                  example: 2024-10-11
                transaction_type:
                  type: string
                  example: REFERENCEPAYMENT
        required: false
      responses:
        "200":
          description: OK
          content: {}
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                example:
                - rettext: payment_reference is mandatory
                items:
                  type: object
                  properties:
                    rettext:
                      type: string
                      example: payment_reference is mandatory
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                example:
                - info: Authorization has been denied for this request.
                items:
                  type: object
                  properties:
                    info:
                      type: string
                      example: Authorization has been denied for this request.
  /api/interface/gsapi/invoicejournal/list:
    get:
      tags:
      - Invoicing
      summary: Invoice Journal
      description: Invoice Journal
      operationId: invoiceJournal
      parameters:
      - name: organization
        in: query
        schema:
          type: string
      - name: journaltype
        in: query
        schema:
          type: string
      - name: startdate
        in: query
        schema:
          type: string
      - name: enddate
        in: query
        schema:
          type: string
      - name: org_id
        in: query
        schema:
          type: string
      responses:
        "200":
          description: OK
          content: {}
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                example:
                - info: Authorization has been denied for this request.
                items:
                  type: object
                  properties:
                    info:
                      type: string
                      example: Authorization has been denied for this request.
        "422":
          description: Unprocessable Content
          content:
            application/json:
              schema:
                type: array
                example:
                - error: Unknown option for a journaltype
                  ret: -1
                items:
                  type: object
                  properties:
                    error:
                      type: string
                      example: Unknown option for a journaltype
                    ret:
                      type: number
                      example: -1.0
  /api/interface/gsapi/object/actions:
    get:
      tags:
      - Objects
      summary: Get Object
      description: Get Object
      operationId: getObject
      parameters:
      - name: objectid
        in: query
        schema:
          type: string
      - name: objectkey
        in: query
        schema:
          type: string
      - name: objectname
        in: query
        schema:
          type: string
      - name: profile_id
        in: query
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                example:
                - objectfields:
                    Accessories: Radio
                    Brand: Seat
                    Color: Metallic Yellow
                    Company: Spanish Regular SA
                    Country: ESP
                    Holder: Testos Useros 3
                    KmIncluded: "60000"
                    LeasingMonthlyFee: "150"
                    LeasingMonths: "24"
                    Model: Ibiza
                    RegistrationNumber: BCD-234
                    Tire Size: "14"
                    Tires: ZingHoe 165/55
                    Transmission: Manual
                    dateofdata: 2024-08-13 12:23:25
                    dbgroup_id: "1"
                    filename: carassets_first.csv
                    imported: 2024-08-13 12:23:25
                    raw_id: "3"
                  objectid: -61
                  objectkey: 899b3729322d652d250ed1c98bc963c1
                  objectname: BCD-234
                  org_id: 1203
                  profile_id: 1001
                  profilename: LeasedCars
                  u_id: 110
                items:
                  type: object
                  properties:
                    objectfields:
                      type: object
                      properties:
                        Accessories:
                          type: string
                          example: Radio
                        Brand:
                          type: string
                          example: Seat
                        Color:
                          type: string
                          example: Metallic Yellow
                        Company:
                          type: string
                          example: Spanish Regular SA
                        Country:
                          type: string
                          example: ESP
                        Holder:
                          type: string
                          example: Testos Useros 3
                        KmIncluded:
                          type: string
                          example: "60000"
                        LeasingMonthlyFee:
                          type: string
                          example: "150"
                        LeasingMonths:
                          type: string
                          example: "24"
                        Model:
                          type: string
                          example: Ibiza
                        RegistrationNumber:
                          type: string
                          example: BCD-234
                        Tire Size:
                          type: string
                          example: "14"
                        Tires:
                          type: string
                          example: ZingHoe 165/55
                        Transmission:
                          type: string
                          example: Manual
                        dateofdata:
                          type: string
                          example: 2024-08-13 12:23:25
                        dbgroup_id:
                          type: string
                          example: "1"
                        filename:
                          type: string
                          example: carassets_first.csv
                        imported:
                          type: string
                          example: 2024-08-13 12:23:25
                        raw_id:
                          type: string
                          example: "3"
                    objectid:
                      type: number
                      example: -61.0
                    objectkey:
                      type: string
                      example: 899b3729322d652d250ed1c98bc963c1
                    objectname:
                      type: string
                      example: BCD-234
                    org_id:
                      type: number
                      example: 1203.0
                    profile_id:
                      type: number
                      example: 1001.0
                    profilename:
                      type: string
                      example: LeasedCars
                    u_id:
                      type: number
                      example: 110.0
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                example:
                - info: Authorization has been denied for this request.
                items:
                  type: object
                  properties:
                    info:
                      type: string
                      example: Authorization has been denied for this request.
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                example:
                - error: Object Identifier/Name/ID missing
                  ret: -1
                items:
                  type: object
                  properties:
                    error:
                      type: string
                      example: Object Identifier/Name/ID missing
                    ret:
                      type: number
                      example: -1.0
    put:
      tags:
      - Objects
      summary: Update Object
      description: Update Object
      operationId: updateObject
      parameters:
      - name: objectid
        in: query
        schema:
          type: string
      - name: objectname
        in: query
        schema:
          type: string
      - name: objectkey
        in: query
        schema:
          type: string
      - name: profile_id
        in: query
        schema:
          type: string
      - name: profilename
        in: query
        schema:
          type: string
      - name: u_id
        in: query
        schema:
          type: string
      - name: org_id
        in: query
        schema:
          type: string
      - name: objectfields
        in: query
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                objectfields:
                  type: object
                  properties:
                    ContractDescription:
                      type: string
                      example: Update ContractLine from here.Contract in Test Organization
                    ContractID:
                      type: string
                      example: C-000000002
                    ContractLines:
                      type: string
                      example: ""
                    ContractStatus:
                      type: string
                      example: "-1"
                    ContractSubject:
                      type: string
                      example: Subject Updated
                    ContractTerm:
                      type: string
                      example: ""
                    ContractValidFrom:
                      type: string
                      example: 2024-10-01T00:00:00
                    TerminationPeriod:
                      type: string
                      example: "12"
                    comment:
                      type: string
                      example: Just for demo purposes UP
                objectid:
                  type: number
                  example: -110.0
                objectkey:
                  type: string
                  example: C-000000175
                objectname:
                  type: string
                  example: C-000000175
                org_id:
                  type: number
                  example: 101.0
                profile_id:
                  type: number
                  example: 70.0
                profilename:
                  type: string
                  example: Contract
                u_id:
                  type: number
                  example: 105.0
        required: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                example:
                - error: Unknown device
                  ret: -3
                items:
                  type: object
                  properties:
                    error:
                      type: string
                      example: Unknown device
                    ret:
                      type: number
                      example: -3.0
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                example:
                - info: Authorization has been denied for this request.
                items:
                  type: object
                  properties:
                    info:
                      type: string
                      example: Authorization has been denied for this request.
    post:
      tags:
      - Objects
      summary: Create Object
      description: Create Object
      operationId: createObject
      parameters:
      - name: profile_id
        in: query
        schema:
          type: string
      - name: objectkey
        in: query
        schema:
          type: string
      - name: org_id
        in: query
        schema:
          type: string
      - name: u_id
        in: query
        schema:
          type: string
      - name: objectname
        in: query
        schema:
          type: string
      - name: starttime
        in: query
        schema:
          type: string
      - name: objectfields
        in: query
        schema:
          type: string
      requestBody:
        content:
          text/plain:
            schema:
              type: string
              format: binary
        required: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                example:
                - error: Object Owner/Organization missing
                  ret: -2
                items:
                  type: object
                  properties:
                    error:
                      type: string
                      example: Object Owner/Organization missing
                    ret:
                      type: number
                      example: -2.0
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                example:
                - info: Authorization has been denied for this request.
                items:
                  type: object
                  properties:
                    info:
                      type: string
                      example: Authorization has been denied for this request.
    delete:
      tags:
      - Objects
      summary: Delete Object
      description: Delete Object
      operationId: deleteObject
      parameters:
      - name: objectid
        in: query
        schema:
          type: string
      - name: objectkey
        in: query
        schema:
          type: string
      - name: profile_id
        in: query
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                example:
                - error: Object Identifier/Name/ID missing
                  ret: -1
                items:
                  type: object
                  properties:
                    error:
                      type: string
                      example: Object Identifier/Name/ID missing
                    ret:
                      type: number
                      example: -1.0
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                example:
                - info: Authorization has been denied for this request.
                items:
                  type: object
                  properties:
                    info:
                      type: string
                      example: Authorization has been denied for this request.
  /api/interface/gsapi/object/switchowner:
    post:
      tags:
      - Objects
      summary: Move Object
      description: Move Object
      operationId: moveObject
      parameters:
      - name: objectid
        in: query
        schema:
          type: string
      - name: objectkey
        in: query
        schema:
          type: string
      - name: new_u_id
        in: query
        schema:
          type: string
      - name: new_org_id
        in: query
        schema:
          type: string
      - name: new_starttime
        in: query
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                new_org_id:
                  type: number
                  example: 101.0
                new_starttime:
                  type: string
                  example: 2024-04-01
                new_u_id:
                  type: number
                  example: 138.0
                objectid:
                  type: number
                  example: -110.0
                objectkey:
                  type: string
                  example: C-000000175
        required: false
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                example:
                - errortext: 'Procedure resulted error '
                items:
                  type: object
                  properties:
                    errortext:
                      type: string
                      example: 'Procedure resulted error '
        "401":
          description: UNauthorized
          content:
            application/json:
              schema:
                type: array
                example:
                - info: Authorization has been denied for this request.
                items:
                  type: object
                  properties:
                    info:
                      type: string
                      example: Authorization has been denied for this request.
  /api/interface/gsapi/objects/list:
    get:
      tags:
      - Objects
      summary: List Objects
      description: List Objects
      operationId: listObjects
      parameters:
      - name: org_id
        in: query
        schema:
          type: string
      - name: type_id
        in: query
        schema:
          type: string
      - name: profile_id
        in: query
        schema:
          type: string
      - name: objectid
        in: query
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                example:
                - objectfields:
                    Accessories: "Navigation, Shading mirrors, Winter tires"
                    Brand: Toyota
                    Color: Metallic Blue
                    Company: Test Company Oy
                    Country: FIN
                    Holder: Test User 1
                    KmIncluded: "36000"
                    LeasingMonthlyFee: "200"
                    LeasingMonths: "36"
                    Model: Corolla
                    RegistrationNumber: ABC-123
                    Tire Size: "15"
                    Tires: Pirelli Zero 155/65
                    Transmission: Manual
                    dateofdata: 2024-08-13 12:23:25
                    dbgroup_id: "1"
                    filename: carassets_first.csv
                    imported: 2024-08-13 12:23:25
                    raw_id: "1"
                  objectid: -62
                  objectkey: 8a018e18e28cc5928e1f78d38b68beee
                  objectname: ABC-123
                  org_id: 1203
                  profile_id: 1001
                  profilename: LeasedCars
                  u_id: 110
                items:
                  type: object
                  properties:
                    objectfields:
                      type: object
                      properties:
                        Accessories:
                          type: string
                          example: "Navigation, Shading mirrors, Winter tires"
                        Brand:
                          type: string
                          example: Toyota
                        Color:
                          type: string
                          example: Metallic Blue
                        Company:
                          type: string
                          example: Test Company Oy
                        Country:
                          type: string
                          example: FIN
                        Holder:
                          type: string
                          example: Test User 1
                        KmIncluded:
                          type: string
                          example: "36000"
                        LeasingMonthlyFee:
                          type: string
                          example: "200"
                        LeasingMonths:
                          type: string
                          example: "36"
                        Model:
                          type: string
                          example: Corolla
                        RegistrationNumber:
                          type: string
                          example: ABC-123
                        Tire Size:
                          type: string
                          example: "15"
                        Tires:
                          type: string
                          example: Pirelli Zero 155/65
                        Transmission:
                          type: string
                          example: Manual
                        dateofdata:
                          type: string
                          example: 2024-08-13 12:23:25
                        dbgroup_id:
                          type: string
                          example: "1"
                        filename:
                          type: string
                          example: carassets_first.csv
                        imported:
                          type: string
                          example: 2024-08-13 12:23:25
                        raw_id:
                          type: string
                          example: "1"
                    objectid:
                      type: number
                      example: -62.0
                    objectkey:
                      type: string
                      example: 8a018e18e28cc5928e1f78d38b68beee
                    objectname:
                      type: string
                      example: ABC-123
                    org_id:
                      type: number
                      example: 1203.0
                    profile_id:
                      type: number
                      example: 1001.0
                    profilename:
                      type: string
                      example: LeasedCars
                    u_id:
                      type: number
                      example: 110.0
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                example:
                - info: Authorization has been denied for this request.
                items:
                  type: object
                  properties:
                    info:
                      type: string
                      example: Authorization has been denied for this request.
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                example:
                - info: "Procedure or function 'objects_list' expects parameter '@org_id',\
                    \ which was not supplied."
                items:
                  type: object
                  properties:
                    info:
                      type: string
                      example: "Procedure or function 'objects_list' expects parameter\
                        \ '@org_id', which was not supplied."
  /api/interface/gsapi/organization/actions:
    get:
      tags:
      - Organization
      summary: Get Organization
      description: Show detailed information on a given org_id filtered by query parameters. Without any parameters returns all organizations filtered by user rights only. Filter parameters are used with AND condition.
      operationId: getOrganization
      parameters:
      - name: external_customer_id
        in: query
        required: false
        schema:
          type: string
      - name: External_customer_id2
        in: query
        required: false
        schema:
          type: string
      - name: org_id
        in: query
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                example:
                - Organization: Demo Company/Oy Test Organization
                  addr_city: City Of Choise
                  addr_street1: Street Address 19
                  addr_street2: ""
                  addr_zipcode: "05100"
                  business_id: 1234567-8
                  company_name: Create Organization
                  contact_email_address: contact@mail.com
[...]
